body{

	font-family: Arial,Helvetica,sans-sarif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin:0;
	background-color:#f4f4f4;

}
.container{
	width:80%;
	margin:auto;
	overflow:hidden;

}
		/* header */
ul{

	margin:0;
	padding:0;
}

.button_1{
	height:25px;
	background:#A9CCE3;
	color:#fff;
	border:0;
}
.dark{
	padding:15px;
	background:#2C3E50;
	color:#fff;
	margin-top:10px;
	margin-bottom:10px;
}
header{
	background:#34495E; 
	color:#ffff;
	padding-top:20px;  
	min-height:70px;
	border-bottom: #CCD1D1 5px solid; 
}		
header a{
	color:#ffff;
	text-decoration: none;
	text-transform: uppercase;;
	font-size: 16px;
}



header li{
	float: right;
	display: inline;
	padding: 0 20px 0 20px;
}
header #breanding{
	float: left;


}
header #branding h1{
	margin:0;

}
header nav{
	float;	right;
	margin-top:10px;

}
header .highlight, header .current a{
	color:#5DADE2  ;
	font-weight: bold;
}
/*Slider*/


#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 60vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("https://static.pexels.com/photos/302889/pexels-photo-302889.jpeg");
}
.slide2 {
  background-image: url("https://static.pexels.com/photos/302892/pexels-photo-302892.jpeg");
}
.slide3 {
  background-image: url("https://static.pexels.com/photos/226633/pexels-photo-226633.jpeg");
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}
 /* SHOW CASE */

 #showcase{
	 max-height: 60vh;
	 
 	overflow:hidden;
 	text-align:center;
 	color:#ffff;


 }
#showcase h1{
	position: relative;
  	left:100px;
	margin-top:50px;
	font-size: 35px;
	margin-bottom: 10px;

}
#showcase p{
	font-size: 20px;

}
#newslatter{
	padding:10px;
	color:#ffffff;
	background:#34495E;
}
#newslatter h1{
	float:left;


}
#newslatter form{
	float: right;

	margin-top:15px;
}
#newslatter input{
	padding:2px;
	height:18px;
	width:250px;
	}

   /* BOXES */

#boxes{
	margin-top:20px;
}
#boxes .box{
	float:left;
	text-align: center;
	width: 30%;
	padding:10px;
	

}
.dark2{
	width:40%;
	margin:auto;
}
#boxes .box img{
	width:190px;
}
input[type=radio]{
	margin:20px 40px;
}
	/* SIDEBAR */
aside#sidebar{
	float:right;
	width:30%;
	margin-top:10px;

}
	/* MAIN-COL */
article#main-col{
	float:left;
	width:65%;
}	
aside#sidebar .quote input, aside#sidebar .quote textarea{
	width:90%;
	padding:5px;
}

/* services */

ul#services li{
	 list-style:none;
	 padding: 10px;
	 border: #cccccc solid 3px;
	 margin-bottom: 10px;
	 margin-right:10px;
	 background:#e6e6e6;
	 
		


}
#boxes div ul li{
	background-color: #34495E;
	padding:0.8rem;
	color:white;
	margin:1rem;
	list-style-type: none;
	border-radius:25px;

}
#boxes div ul li a{
	text-decoration: none;
	color : white;
}
footer#p {
	padding:20px;
	margin-top: 20px;
	color:#fff;
	background-color:#34495E;
	text-align: center;
}
footer#foot {
	padding:20px;
	margin-top: 20px;
	color:#fff;
	background-color:#34495E;
	text-align: center;
}
footer{
	padding:20px;
	margin-top: 20px;
	color:#fff;
	background-color:#34495E;
	text-align: center;
}